//color
$off-white:#f8f8f8;
$orange:#ffa500;
$green:#57b846;
$red:#ea4355;
$blue:#1da1f2;
//size
$xs:0.5rem;
$normal:1rem;
$sm:1.5rem;
$md:2rem;
$lg:3rem;
$xlg:5rem;
$xxlg:7rem;


$button-radious:30px;

//fonts 
$quicksand: 'Quicksand', sans-serif; 

//break pointt
$lg-breakpoint:1024px;
$md-breakpoint:786px;
$sm-breakpoint:641px;
$xs-breakpoint:480px;